<!DOCTYPE html>
<html>
<style>
  h1{
  
  font-weight: 400;
        font-size: 4rem;
        line-height: 1.1;
        margin-top: 20px;
        margin-bottom: 20px;
        color:grey;
}
</style>
  
<body>
  <h1 align="center" >YOGA/WORKOUT</h1>

<iframe width="472" height="345" src="https://www.youtube.com/embed/Sn29txz5I_0"></iframe>
<iframe width="472" height="345" src="https://www.youtube.com/embed/t7RhG0CEbVw"></iframe>
<iframe width="472" height="345" src="https://www.youtube.com/embed/cYYiGxRBy6c"></iframe>

<iframe width="472" height="345" src="https://www.youtube.com/embed/rt1bsoOukjI"></iframe>
<iframe width="472" height="345" src="https://www.youtube.com/embed/z5f4SP6pGa0"></iframe>
<iframe width="472" height="345" src="https://www.youtube.com/embed/YPrfcHKC1tc"></iframe>
</body>
</html>

